li {
  list-style: none;
}
body {
  /* font-family: 'Raleway', sans-serif */
  font-family: 'Roboto', sans-serif;
  margin: 0;
  box-sizing: border-box;
  color: #2e2f42;
  background: #fff;
}
.header {
  background-color: #ffffff;
}
.header-link {
  text-decoration: none;
  color: #404bbf;
  text-transform: uppercase;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
}
.header-link span {
  color: #2e2f42;
}
.header-link:hover,
:focus {
  color: #4d5ae5;
}

.nav-link {
  text-decoration: none;
  color: #2e2f42;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}
.nav-link:hover,
:focus {
  color: #4d5ae5;
}
.contacts {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #434455;
  text-decoration: none;
}
.contacts:hover,
:focus {
  color: #4d5ae5;
}
.section-button {
  cursor: pointer;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
}
.section-button:hover,
:focus {
  color: white;
  background-color: #4d5ae5;
}
.section-title3 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height, or 120% */

  letter-spacing: 0.02em;

  /* NAVY BLUE */

  color: #2e2f42;
}
.section-paragraph {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  letter-spacing: 0.02em;

  /* SLATE */

  color: #434455;
}
.footer {
  background: #2e2f42;
}
.footer-paragraph {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  letter-spacing: 0.02em;
  color: #e7e9fc;
}
.footer-link {
  letter-spacing: 0.03em;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-decoration: none;
  text-transform: uppercase;
  color: #4d5ae5;
}
.footer-link span {
  color: #f4f4fd;
}
